# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pyc
*.db

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env
*.env
*.sqlite3

# Django cache
**/__pycache__/
**/cache/
**/migrations/__pycache__/

# Virtual Environment
env/
venv/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# Node / frontend (if using npm/yarn)
node_modules/
dist/
build/
